@import "_common.scss";
@font-face {
  font-family:wyekan;
  src:url("../fonts/Yekan.woff") format("woff"),;
  src:url("../fonts/Yekan.woff2") format("woff2"),;
  font-weight:100;
  font-style: normal;
}
@font-face {
  font-family:lalezar;
  src:url("../fonts/Lalezar-Regular\ a4fran3.woff") format("woff"),
  url("../fonts/Lalezar-Regular\ a4fran3.woff2") format("woff2"),;
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family:shabnam;
  src:url("../fonts/Shabnam-Bold.woff") format("woff"),
  url("../fonts/Shabnam-Bold.woff2") format("woff2"),;
  font-weight: 100;
  font-style: normal;
}
body {
  font-family:wyekan;
  font-weight: 100;
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}
*{
  padding: 0;
  margin: 0;
}
