@font-face {
  font-family: 'Yekan';
  src: url(../assets/fonts/Yekan.woff) format("truetype")
}
@font-face {
  font-family: 'Shabnam';
  src: url(../assets/fonts/Shabnam-Bold.woff2) format("truetype")
}

.textfieldRtl{
    text-align: right;
    background-color: aliceblue;
    border-radius: 0;
    
}
.textfieldRtl label {
    transform-origin: top right;
    right: 26px;
    
}
.boldFont{
  font-family: 'Shabnam';
  font-weight: bold;
}